{#=====================================================
  Help page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <form method="post" action="/creature" enctype="multipart/form-data">
        <label>
            Name
            <input name="name" type="text" required>
        </label>

        <label>
            Species
            <input name="species" type="text" required>
        </label>

        <label>
            Logo
            <input
                name="image"
                type="file"
                accept="image/png, image/jpeg, image/gif, image/webp"
                required
            >
        </label>

        <button>Add Club</button>
    </form>

{% endblock %}

